body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button{
  border : none;
  background-color:#FFFBE8 ;
  border-radius: 10px;
  color : #99AD8D;
  box-shadow: 0px 1px 1px 0px #C8CAAA;
}

button:hover{
  border : none;
  background-color:#FFFBE8 ;
  border-radius: 10px;
  color : #95756A;
  box-shadow: 0px 2px 2px 0px #C8CAAA;
}

a{
  text-decoration: none;
  color: black;
}

img{
  max-width: 100%;
  height: auto;

  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 50%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
